@font-face {
  font-family: "Baskervville";
  src: url("../fonts/Baskervville-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 700; /* rango de pesos del variable */
  font-style: normal;
}

@font-face {
  font-family: "Baskervville";
  src: url("../fonts/Baskervville-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 700;
  font-style: italic;
}
